<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>ServletAdaptor</servlet-name>
    <servlet-class>com.sun.jersey.server.impl.container.servlet.ServletAdaptor</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdaptor</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>edu.map.ws.listener.MySessionListener</listener-class>
  </listener>
  
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>